<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card border-right text-center">
          <div class="card-header">Weather and Time</div>
          <div class="card-body">
            Current City: {{current_city}}
            <br/>
            Temperature: {{temp}}ยบ F
            <br/>
            Humidity: {{humidity}}%
            <br/>
            Local Time: {{time}}

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-left border-right text-center">
          <div class="card-header">Site Overview</div>
          <div class="card-body">CLorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.
</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-left text-center">
          <div class="card-header">Trip Progression</div>
          <div class="card-body">Content for panel 3</div>
        </div>
      </div>
    </div>
  </div>
