<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>

    <div class="col-sm">

      <p>{{> message}}</p>

      <h1>Create Post</h1>

      <p></p>


<form action="/create-post" method="POST" enctype="multipart/form-data"> 
  <div class="form-group">
    <h4>Post Information</h4>
    <label for="caption">Caption:</label>
    <input type="text" id="caption" name="caption" class="form-control">
  </div>
  <div class="form-group">
    <label for="bingo_id">Bingo ID: </label>
    <select id="bingo_id" name="bingo_id" class="form-control">
        <option value=""></option>
      {{#each bingo_data}}
        <option value="{{this.item_id}}">{{this.body}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" name="images" id="images" accept="image/*" multiple required>
  </div>
  <button type="submit">Create Post</button>
  <div id="gallery">
  </div>
</form>
    </div>

    <div class="col-sm">
    </div>
  </div>
</div>

<script>
    document.getElementById('uploadForm').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData();
      formData.append('image', document.getElementById('image').files[0]);

      const response = await fetch('/upload', {
        method: 'POST',
        body: formData
      });

      const result = await response.json();
      if (response.ok) {
        const img = document.createElement('img');
        img.src = result.url;
        document.getElementById('gallery').appendChild(img);
      } else {
        alert('Error uploading image');
      }
    });
  </script>
