<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-200 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class = "nav-link" href = "/home">Wannah 2024 Europe Trip </a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href = "/home">Home</a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href = "/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" href = "/bingo">Bingo Board</a>
        </li>
        {{#unless username}}
          <li class = "nav-item">
            <a class = "nav-link" href = "/login">Login</a>
          </li>
          <li>
            <a class = "nav-link" href = "/register">Register</a>
          </li>
        {{/unless}}

        <li class="nav-item">
          
            {{#if username}}
            <a class = "nav-link" href = '/logout'>Logout</a>
            {{/if}}
        </li>
        {{#if admin}}
          <li class="nav-item">
            <a class = "nav-link" href = '/post'>Post</a>
          </li>

          <li class="nav-item">
            <form action="/cench" method="POST">
              <button class="btn btn-info" type="submit">Cench Alert</button>
            </form>
          </li>
        {{/if}}
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {{#if username}}
              <a>{{username}} <3</a>
            {{/if}}
              
          </li>
      </ul>
    </div>
  </nav>
</header>